<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru-ru" xml:lang="ru-ru" >
<head>
<title>Test job</title>
<link rel="stylesheet" href="/static/main/jquery-ui.css" />
<script src="/static/main/jquery-1.10.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/main/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/main/jquery.jeditable.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/main/jquery.jeditable.datepicker.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/main/main.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="login">
	{% block body %}
	{% endblock %}
</body>
</html>
