{% extends "base.html" %}

{% block body %}

    <script>
        $(document).ready(function() {
            $("[id*=id_date]").datepicker({dateFormat: 'yy-mm-dd'});
        });
    </script>

    <table border="0" width="800" align="center">
    <tr>
        <td width="25%" valign="top">
            <ul>
                {% for key, value in modelList.items %}
                    <li><a href="#" onclick="loadTable('{{ key }}');">{{ value.modelTitle }}</a></a></li>
                {% endfor %}
            </ul>
        </td>
        <td width="75%" valign="top">

            {% for key, value in modelList.items %}
                <table width="98%" border="1" align="center" id="id_table_{{ key }}" class="data_table" style="display:none">
                    <tr id="Title">
                        {% for field in value.modelFields %}
                            <!-- <td id="id_{{field.name}}">{{field.verbose_name}}</td> -->
                            <td>{{field.verbose_name}}</td>
                        {% endfor %}
                    </tr>
                </table>

                <form id="id_form_{{ key }}" method="post" class="data_form" model_name="{{ key }}" style="display:none">
                    {% csrf_token %}
                    <br>
                    <table border="0">
                        {{ value.modelForm }}
                        <tr>
                            <td></td>
                            <td><br><a href="#" onclick="submitForm('{{ key }}');">Добавить</a></td>
                        </tr>
                    </table>
                </form>
            {% endfor %}

        </td>
    </tr>
    </table>
{% endblock %}
